* {
  text-align: center;
  border-radius: 20px;
}
body {
  background-color: aquamarine;
}

img {
  width: 300px;
  height: 250px;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
}

.title {
  margin-top: 100px;
  font-size: 30px;
}
.container {
  background-color: crimson;
  position: relative;

  width: 670px;
  height: 580px;
  margin: 0 auto;
}
